<div>
    <div class="container">
        <div class="crudHeader">
            <hr>
            <label for="crudHeader" class="headerStyle">CRUD Header</label>
            <hr>
        </div>
        
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of details">
                        <td>{{detail.id}}</td>
                        <td>{{detail.name}}</td>
                        <td>{{detail.number}}</td>
                        <td>{{detail.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>